.headbar {
    background-color: rgb(104, 47, 47);
    border: none;
    border-radius: 0px;
    margin: 0px;
    color: white;
    font-family: 'Inconsolata', monospace;
}

.headbar .milkybrand {
    color: white;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
}

.headbar .headlist>li>a {
    color: white;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    width: 100%;
    height: 500px;
}

h2, h3 {
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
}

.thumbnail img {
    height: 250px;
}

.col-md-6 h3 {
    font-family: 'Dancing Script', cursive;
}

footer {
    background-color: rgb(104, 47, 47);
    color: white;
    height: 50px;
    font-family: 'Lora', serif;
    font-size: large;
}


